/* for TABLET Screens... */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        border-left: 0px;
        text-align: center;
    }

    .popular {
        margin-top: 10px;
    }

    .contact_info {
        flex-direction: column;
    }

    .contact_info div {
        width: 100%;
    }

    .headings_footer {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        flex-direction: column;
    }

    footer {
        background-color: #000032;
    }
}

/* for MOBILE Screens... */
@media (max-width: 480px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        border-left: 0px;
        text-align: center;
    }

    .pills {
        flex-direction: column;
    }

    .popular {
        flex-direction: column;
    }
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 0, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar .logo img {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 15rem;
}

.menu a {
    text-decoration: none;
    color: #bfbece;
}

.hero {
    background-image: url(https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/hero-cruise.png?raw=true);
    background-repeat: no-repeat;
    height: 80vh;
    /* width: 100vw; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero h1,
.hero p {
    color: #fff2f5;
    display: flex;
    justify-content: center;
}

.hero p {
    margin-top: 16px;
}

.hero .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button {
    background-color: #e4581f;
    color: #fff2f5;
    padding: 6px;
    text-align: center;
    border: transparent;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 16px;
    cursor: pointer;
}

.discover {
    background-color: #ffffff;
}

.heading {
    border-left: 5px solid #d8a851;
    /* padding-right: 50px; */
    /* gap: 8px; */
    padding-left: 10px;
    margin-left: 25px;
    margin-top: 25px;
}

.heading h2 {
    color: #201615;
}

.heading p {
    color: #766e6d;
}

.popular {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pills {
    display: flex;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    gap: 10px;
}

.pills img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    border-radius: 50%;
    
}

.first-pill {
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 5px 10px 5px 10px;
    width: -5px;
    border: 1px;
    border-radius: 50px;
    align-items: center;
}

.second-pill {
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 5px 10px 5px 10px;
    width: -5px;
    border: 1px;
    border-radius: 50px;
    align-items: center;
}

.third-pill {
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 5px 10px 5px 10px;
    width: -5px;
    border: 1px;
    border-radius: 50px;
    align-items: center;
}

/* For Banner Class... */
.banner {
    background-image: url(https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/caribbean-cruise.png?raw=true);
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 300px;
    /* background-size: cover; */
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}


.bookmark img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #98805f;
    border-radius: 50%;
    padding: 4px;
}

.banner h2, .banner p {
    color: white;
    /* display: flex;
    align-items: flex-end; */
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    
}

.card {
    position: relative;
    cursor: pointer;
}

.card div {
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 100%;
}

/* Contact Section... */

.contact_info {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

.contact_info h4 {
    margin-top: 10px;
    margin-bottom: 12px;
}

.contact_info p {
    color: #766e6d;
}

#contact {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.contact_info h4, .contact_info p {
    text-align: center;
}

#contact h3 {
    margin-top: 25px;
}

#contact hr {
    width: 100px;
    margin: auto;
    border: 2px solid orange;
    margin-top: 6px;
    margin-bottom: 30px;
}

.contact_info div {
    width: 50%;
    border: 1px solid #d1d0d0;
}

/* footer section... */
footer {
    background-color: #000032;
    height: 300px;
}

.headings_footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.headings_footer .first_line h3 {
    margin-top: 16px;
    color: #f09c31;
}

.headings_footer li {
    margin-top: 10px;
    color: white;
    cursor: pointer;
    list-style: none;
}

.social-icons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer_rights {
    text-align: center;
    margin-top: 25px;
    color: white;
    border-top: 2px solid #191b47;
    /* margin-bottom: 25px; */
}

.footer_rights p {
    margin-top: 3.5px;
}