
/* for TABLET Screens... */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* for MOBILE Screens... */
@media (max-width: 480px) {

}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 0, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar .logo img {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 15rem;
}

.menu a {
    text-decoration: none;
    color: #bfbece;
}

.hero {
    background-image: url(https://github.com/Mohak-Trivedi/xCruise/blob/main/assests/hero-cruise.png?raw=true);
    background-repeat: no-repeat;
    height: 80vh;
    /* width: 100vw; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero h1, p {
    color: #fff2f5;
    display: flex;
    justify-content: center;
}

.hero p {
    margin-top: 16px;
}

.hero .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button {
    background-color: #e4581f;
    color: #fff2f5;
    padding: 6px;
    text-align: center;
    border: transparent;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 16px;
    cursor: pointer;
}

.discover {
    background-color: white;
}

.popular {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pills {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.popular .pills div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}